.container{
    flex: 1;
}
.navbar{
    height: 4rem;
    backdrop-filter: blur(10px);
    background-color: transparent !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.fa-torii-gate{
    color: #fe424d;
    font-size: 2rem;
}

.nav-item .nav-link{
    color:#222222 !important;
}

/* Footer */

.f-info{
    margin-top: 18px;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
     font-size: 1.3rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}

/* Cards */

.card {
    margin-bottom: 1rem;
    border: none !important;
}
.card a{
    color: #222222;
    text-decoration: none;
}
.card-title a{
    color: #222222;
    text-decoration: none;
}
.card-img-top{
    border-radius: 0.5rem !important;
    width: 100% !important;
    object-fit: fill !important;
}
.card-body{
    padding: 0;
    margin-left: -15px;
}
.card-body
.card-text,.card-price {
    font-weight: 300;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Card Effect  */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

li{
    list-style: none;
}

/* Show Page */

.show-img{
    height: 37vh;
}

.btns{
    display: flex;
}

.show-cards{
    padding-left: 0;
    padding-right: 0;
}